:root {
    --main-font: 'Roboto', sans-serif;
    --background-clr: #ffffff;
    --background-clr-ftr: #2F303A;
    --blue-clr-element: #2196F3;
    --main-clr-: #212121;
}

body {
    font-family: var(--main-font),
        sans-serif;
    color: var(--main-clr-);
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;

    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

header {
    border-bottom: 1px solid #ECECEC;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* контейнер */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;


}

.portfolio {
    padding-top: 100px;
    padding-bottom: 94px;
}

.list-flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.list-flex>.flex-element {
    margin-left: 30px;
    margin-top: 30px;
    width: 370px;
    box-sizing: border-box;
    border: 1px solid #eeeeee
}

.item-progect {
    padding-top: 24px;
    padding-right: auto;
    padding-bottom: 20px;
    padding-left: 24px;

}

.container.list-asset {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header {
    background-color: var(--background-clr)
}

.hdr {
    padding-top: 20px;
    padding-bottom: 20px;
}

.list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    display: flex;
    list-style: none;

}

.list-work {
    padding-bottom: 94px;
}

.item-work {
    width: 370px;
    display: inline-block;
}

.item-asset {
    width: 270px;
    padding-right: auto;
    padding-left: auto;
}
/* про нас */
/* .icon {
    background-color:#F5F4FA;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
} */
.asset-link {
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
.asset {
    justify-content: space-between;
}

.asset-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.site-nav {
    display: flex;
}

.site-nav .list {
    display: flex;
    margin-right: 50px;
}

.site-nav .item {
    display: block;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.item {
    list-style: none;
}

/* лого */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
    text-decoration: none;
    margin-right: 93px;
}

.logo2 {
    color: #000;
}

/* шапка */
.site-nav .link {
    display: block;
    color: var(--main-clr-);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: capitalize;
}

.main-nav {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.not-visible {
    visibility: hidden;
}

.item-link {
    color: #2196F3;
}

.link-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    list-style: none;
    margin-right: 50px;
}

.list-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.list-contact .link-contact+.link-contact {
    margin-left: 50px;
}
.main-cntct {
    display: flex;
    align-items: center;
}

.element { 
    display: flex;
    align-items: center;
    fill: #757575;
}
.contact {
    margin-right: 10px;
}
.contact:hover,
.contact:focus {
    fill: #2196F3;
}
/* кнопки */

.btn-portfolio {
    display: inline-block;
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration: none;
    font-family: inherit;
    cursor: pointer;
    padding: 6px 22px;
    border: none;
    margin-left: 8px;

}

.btn-portfolio:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.btn-portfolio:hover {
    background-color: #2196F3;
    color: #ffffff;

}


.list-button {
    list-style: none;
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.element:hover {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--blue-clr-element);
    text-decoration: none;
}

.element {
    color: #757575;
    text-decoration: none;

}


/* примеры работ */
.flex-border {
    display: inline-block;
    width: 270px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    margin-right: 30px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.flex-name {
    display: flex;
    justify-content: space-between;
}

.team-container {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
}

.item-work :not(:last-child) {
    margin-right: 0px;
}

.item-project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-clr-);
}

.item-option {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.title-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-clr-);
    margin-top: 0px;
    margin-bottom: 50px;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-clr-);
    margin: 0;
    margin-bottom: 50px;
}

.list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-clr-);
    margin-top: 0px;
    margin-bottom: 10px;
}

.list-professional {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 0px;
    margin-bottom: 16px;
}

.command-name {
    padding-top: 30px;
    padding-bottom: 30px;
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;


}
.socials-icon {
    fill:#AFB1B8;
}
.socials-item:not(:last-child) {
    margin-right: 10px;
}
.socials-link:hover .socials-icon {
    fill: #FFFFFF;
}
.socials-link:focus .socials-icon {
    fill: #FFFFFF;
}

.socials-link:hover{
    background-color: #2196F3;
}
.socials-link:focus {
    background-color: #2196F3;
}
/* главная */
.h1 {
    margin-left: auto;
    margin-right: auto;
}

.hero {
    background: #2F303A;
    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.btn-hero {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: var(--blue-clr-element);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    align-items: center;
    display: inline-block;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.btn-hero:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background-color: #2196F3;
    text-decoration: none;
}

.btn-hero:focus {
    background-color: #2196F3;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.style-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;

}

/* достоинства */

.item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;

    color: var(--main-clr-);
}

.item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 0px;
    margin-bottom: 0px;
}
/* постоянные клиенты */
.client-container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 94px;
    padding-left: auto;
    padding-bottom: 94px;
    padding-right: auto;
    text-align: center;
}
.title-client {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.clients-item {
    display: inline-block;
}


.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-right: 30px;
    
}
.clients-link:not(:last-child) {
    margin-right: 0px;
}
.clients-link:focus,
.clients-link:hover {
    border-color: #2196F3;
}
.clients-icon:focus,
.clients-icon:hover { 
    fill: #2196F3;
}
.clients-icon {
    fill: #757575;
}
/* футер */
.footer {
    background: var(--background-clr-ftr);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    color: #ffffff;
}

address {
    font-style: normal;
}

.list-address {
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: left;

}

.list-address>.item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-item-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-item-contacts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}